<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Painel <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Mais
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/registrarChegada">Registrar Chegada</a>
                    <a class="dropdown-item" href="/enviarItem">Enviar Item</a>
                    <a class="dropdown-item" href="/localizarItem">Localizar Item</a>
                    <a class="dropdown-item" href="/cadastrarItem">Cadastrar Item</a>
                    <a class="dropdown-item" href="/editarItem">Editar Item</a>
                    <a class="dropdown-item" href="/apagarItem">Apagar Item</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Deslogar</a>
            </li>
        </ul>
    </div>
</nav>