<!DOCTYPE html>
<html ng-app="item">

<head>
  <% include ./partials/head %>
  <script src="/scripts/editar.js"></script>
  <title>Editar item</title>

</head>

<body ng-controller="itemCtrl">
  <header>
    <% include ./partials/header %>
  </header>
  </br>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-7 mx-auto">
        <div class="card card-signin my-5">
          <h5 class="card-header">Editando {{item}}</h5>
          <div class="card-body">
            <form class="form">

              <label for="codbarra">Código de barras</label>
              <div class="form-inline-group">
                <input type="text" ng-blur="postData()" id="codbarra" name="codbarra" class="form-control" ng-model="codbar"
                  placeholder="Código de barras" required autofocus>
              </div>

              <div class="form-label-group">
                <label for="user">Item</label>
                <input type="text" id="nome" name="nome" class="form-control" ng-model="item" placeholder="Nome do item">
              </div>

              <div class="form-label-group">
                <label for="user">Observação</label>
                <textarea id="obs" name="obs" class="form-control" ng-model="obs" placeholder="Observação">
                </textarea>
              </div>
              <button class="btn btn-lg btn-primary text-uppercase col-md" type="submit" id="salvar" ng-click="salvarNome()">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>